<div class="container-fluid py-3">
  <!-- Menú de navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-diagram-3 me-2"></i>
        SAP GUI Flow
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="bi bi-house-door me-1"></i>
              Editor de Flujos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sync-templates-editor']" routerLinkActive="active">
              <i class="bi bi-pencil-square me-1"></i>
              Editor de Paquetes de Sincronización

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sync-packages']" routerLinkActive="active">
              <i class="bi bi-box-seam me-1"></i>
              Ejecutar Paquetes de Sincronización
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sftp-explorer']" routerLinkActive="active">
              <i class="bi bi-folder2-open me-1"></i>
              Explorador SFTP
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/scheduler']" routerLinkActive="active">
              <i class="bi bi-calendar-event me-1"></i>
              Scheduler
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div> 